

@import url('https://fonts.googleapis.com/css?family=Roboto');


#submit_review{
    width:20em;
    height:3em;
    background: #ccc !important;
    cursor:pointer;
}


h2,p,h3,a,small{
font-family: 'Roboto', sans-serif;
}

.review_box{
    width:100%;
    background-color: lightgrey;
    height: auto;
    margin-left: 150px;
    border-radius: 10px;
}
.members_review{
    text-align: center;
    color:black;
}
form{
    width:70px;
    margin:auto;
    margin-left: 190px;
}
label input textarea{
    display: block;
    width: 100%;
}
textarea {
    min-height: 100px;
    border-radius:10px;
    min-width: 300px;
}
input {
    min-width: 300px;
}
.stars{
    padding:0;
    margin:0;
    width:200px;
}
.stars li{
    list-style-type: none;
    display: inline-block;
    margin:0;
    color:white;
    text-shadow: 2px 2px 7px grey;
    font-size: 25px !important;
    float:left;


}
.stars li:hover{
    color:yellow;
}
.stars li.active,.stars li.secondary-active{
    color:yellow;
}
.ratedstar{
    padding:0;
    margin:0;
    width:200px;
    margin-left: 250px;
}
.ratedstar li{
    list-style-type: none;
    display: inline-block;
    margin:0;
    text-shadow: 2px 2px 7px grey;
    font-size: 25px !important;
    float:left;
    color:yellow;
}
input[type="radio"]{
    display: none;
}
.reviews{
    width: 100%;
    margin:10px;
}
/*end of rating*/

/*for the sliding advert*/
.example1 {
    height: 120px;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    bottom:30%;

}

main{
    /*background-image: url('../img/slider/pexels-photo-345123.jpeg');*/
    /*background-size: contain;*/
}
#ad{
    background-color: rgba(255, 254, 250, 0.3);
padding: 1em;}

.example1 h3 {
    font-size: 3em;

    color: limegreen;
    position: absolute;
    width: 150%;
    height: 0;
    margin: -2px;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
    /* Apply animation to this element */
    -moz-animation: example1 30s linear infinite;
    -webkit-animation: example1 30s linear infinite;
    animation: example1 30s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
    0%   {
        -moz-transform: translateX(100%); /* Firefox bug fix */
        -webkit-transform: translateX(100%); /* Firefox bug fix */
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%); /* Firefox bug fix */
        -webkit-transform: translateX(-100%); /* Firefox bug fix */
        transform: translateX(-100%);
    }
}

/*end of advert scroll*/
.fullscreen-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    bottom:0;
}

.fullscreen-bg__video {
    position: absolute;
    /*top: -90px;*/
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        height: 300%;
        top: -100%;

    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 300%;
        left: -100%;
    }
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('../img/cleaning-washing-cleanup-the-ilo-48889.jpeg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}

/*for button */
.button{
    background: green;
    border-radius: 3px;

}


/*end of video background*/

.top_slider{
    width:100%;
    /*background: #cfcfcf;*/
    height:15em;
}
.top_slider h2{
    text-align: center;
    padding-top:1.5em;
    text-transform: uppercase;
    font-size: 3em;
}
.site_content{
    width:100%;
    height:auto;
    min-height: 20em;
}
.side_bar{
    width:100%;
    /*height:auto;*/
    background: #357f18;
    min-height: 5em;
    text-align: center;

}
#side_bar{
     width:100%;
     height:auto;
     /*background: #2dbc2a;*/
     /*min-height: 5em;*/
     float: left;
     text-align: center;
 }
.side_bar a{
    color:#fff;
    font-size:1.3em;
    padding:0.5em;
    /*margin-top:0.8em;*/
    float: left;
    /*text-decoration: none;*/
    min-width: 12em;
    text-align: center;
    margin: auto;

}

.main_bar{
    width:100%;
    min-height: 20em;
    float:left;
    /*margin:0.1em;*/
    /*background: #dfdfdf;*/
    /*padding:10em;*/
}

.side_bar a:hover{
    color:#dfdfdf;
}
.box{
    width:auto;
    height: auto;
}
.vendor_box{
    background-color: rgb(255, 250, 231);
    border:solid black 1px;
    padding:2px;
    width: 800px;
    /*margin: 0 auto;*/
    height: 270px;
    border-radius: 5px;
    /*width: 960px;*/
    position: relative;
    margin:0 auto;
    line-height: 1.4em;
    /*height:30em;*/
    /*padding:2em;*/
    /*/!*background: #fff;*!/*/
    /*margin-bottom:0.5em;*/
    /*position:relative;*/
    /*/!*border-bottom: solid #cfcfcf 0.1em;*!/*/
}
.vendor_box2{

    width: 85%;
    /*margin: 0 auto;*/
    height: auto;
    /*height:30em;*/
    /*padding:2em;*/
    /*background: #fff;*/
    /*margin-bottom:0.5em;*/
    /*position:relative;*/
    /*/!*border-bottom: solid #cfcfcf 0.1em;*!/*/
}
.phone{
    padding:0.2em;
    background: #df7b00;
    color:#fff;
    border-radius:0.2em;
    width:10em;
    text-align: center;
    border-bottom: solid #df3e00 0.2em ;
}
.category_div{
    position:absolute;
    width:15em;
    right:2em;
    height:2em;
    /*background: #fff;*/
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.2em;
    color: #faffff;
}
.vendor_picture{
    width: 340px;
    height: 260px;
    /*background: red;*/
    float: left;
    /*margin-left:10px;*/
    margin-right:10px;
    margin-bottom:5px;
    border:solid rgba(0, 0, 0, 0.5) 1px;
    padding:2px;
    /*min-width:50%;*/
    /*min-height:50%;*/
    /*background:#8f8f8f;*/
    /*float: left;*/
    /*margin:0.8em;*/
    /*border-radius: 0.2em;*/
    /*border-bottom: solid #df7800 0.2em ;*/
}
.vendor_picture2{
    width: 350px;
    height: 260px;
    /*background: red;*/
    float: left;
    /*margin-left:10px;*/
    margin-right:10px;
    margin-bottom:5px;
    border:solid black 1px;
    padding:2px;
    /*min-width:50%;*/
    /*min-height:50%;*/
    /*background:#8f8f8f;*/
    /*float: left;*/
    /*margin:0.8em;*/
    /*border-radius: 0.2em;*/
    /*border-bottom: solid #df7800 0.2em ;*/
}
.vendor_text{
    /*width:100%;*/
    /*height:100%;*/
    color: #0c0c0c;
    /*float: left;*/
    width: 100%;
    /*background: #ffffff;*/
    height: 400px;
    margin-left: 40px;


}
.row_box{
    float: left;
    /*width:100%;*/
}

/*demo box*/

#demo{  width: 50%;
    margin: 0 auto;}




/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}




/*Modal Scripts*/
.login_button{
    height:2em;
    width:10em;
    background: #df7b00;
    text-align: center;
    padding-top:1em;
    cursor:pointer;

}
.login_button:hover{
    /*background: #999;*/

}

.header{
    width:100%;
    height:4em;
}
.login_form{
    width:20em;
    margin:auto auto;
    border-radius:10px;
}
.login_form input{
    width:100%;
    height: 3em;
    padding: 0.5em;
    margin-top:1em;
    border-radius: 10px;
}
.login_form select{
    width:100%;
    height: 3em;
    padding: 0.5em;
    margin-top:1em;
    border-radius: 10px;
}

.login_form a{
color: red;
}

.login_form textarea{    border: 2px solid;
    padding: 20px;
    width: 300px;
    resize: both;
    overflow: auto;}
/* end of Modal Scripts*/

/* search form*/


/*-------------------------------------*/

.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}

/*-------------------------------------*/

.form-wrapper {
    width: 470px;
    padding: 15px;
    margin: 150px auto 50px auto;
    background: #444;
    background: rgba(0,0,0,.2);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}

.form-wrapper input {
    width: 330px;
    height: 40px;
    padding: 10px 5px;
    float: left;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    color: grey;
    background: #eee;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #428523;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}

.form-wrapper button:hover{
    background: #2dbc2a;
}

.form-wrapper button:active,
.form-wrapper button:focus{
    background: #2dbc2a;
}

.form-wrapper button:before {
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #428523 transparent;
    top: 12px;
    left: -6px;
}

.form-wrapper button:hover:before{
    border-right-color: #2dbc2a;
}

.form-wrapper button:focus:before{
    border-right-color: #2dbc2a;
}

.form-wrapper button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.byline p{
    text-align:center;
    color:#c6c6c6;
    font: bold 18px Arial, Helvetica, Sans-serif;
    text-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

.byline p a{
    color:#d83c3c;
    text-decoration:none;
}